<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ERS2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>com.revature.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitRequest</display-name>
    <servlet-name>SubmitRequest</servlet-name>
    <servlet-class>com.revature.SubmitRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitRequest</servlet-name>
    <url-pattern>/submit-request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServeltViewInfo</display-name>
    <servlet-name>ServeltViewInfo</servlet-name>
    <servlet-class>com.revature.ServeltViewInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeltViewInfo</servlet-name>
    <url-pattern>/ServeltViewInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUpdateInfo</display-name>
    <servlet-name>ServletUpdateInfo</servlet-name>
    <servlet-class>com.revature.ServletUpdateInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUpdateInfo</servlet-name>
    <url-pattern>/ServletUpdateInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLogout</display-name>
    <servlet-name>ServletLogout</servlet-name>
    <servlet-class>com.revature.ServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogout</servlet-name>
    <url-pattern>/ServletLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletViewEmp</display-name>
    <servlet-name>ServletViewEmp</servlet-name>
    <servlet-class>com.revature.ServletViewEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletViewEmp</servlet-name>
    <url-pattern>/ServletViewEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletApproveDeny</display-name>
    <servlet-name>ServletApproveDeny</servlet-name>
    <servlet-class>com.revature.ServletApproveDeny</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletApproveDeny</servlet-name>
    <url-pattern>/ServletApproveDeny</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSingleEmpRequest</display-name>
    <servlet-name>ServletSingleEmpRequest</servlet-name>
    <servlet-class>com.revature.ServletSingleEmpRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSingleEmpRequest</servlet-name>
    <url-pattern>/ServletSingleEmpRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletViewMyRequests</display-name>
    <servlet-name>ServletViewMyRequests</servlet-name>
    <servlet-class>com.revature.ServletViewMyRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletViewMyRequests</servlet-name>
    <url-pattern>/ServletViewMyRequests</url-pattern>
  </servlet-mapping>
</web-app>